
<div class="justify-content-md-center">
    <div class="col-md-auto">
        <h2 >Access denied</h2>
    </div>
    
    <br />
    <div class="col-md-auto">
        <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="LogIn"> LogIn </a>
    </div>
    
</div>
