@{
    ViewData["Title"] = "Group List";
}
@model IEnumerable<SPOJ.Models.Group>


<div class="row">
    <div class="mx-auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Num.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Creator</th>
                </tr>
            </thead>
            <tbody>

                @{int i = 0; }
                @foreach (var group in Model)
                {
                    i = i + 1;
                    <tr>
                        <th scope="row">@i</th>
                        <td>@group.GroupName</td>
                        <td>@group.Creator</td>
                        <td><a class="btn btn-sm btn-primary" asp-controller="Group" asp-action="Apply" asp-route-GroupId="@group.GroupId">Apply</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
