



<h2>New group creating</h2>
<form method="post" asp-controller="Group" asp-action="CreateNewGroup">

    <div class="form-group">
        <label for="_groupName">Group name</label>
        <input name="_groupName" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>
