

    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="LogIn"> LogIn </a>
    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Register"> Register </a>